@import '../app.component.scss';

header#main {
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: $d_header_height;

    margin: 0;
    padding: 0;

    overflow: hidden;
    -webkit-app-region: drag;

    nav.window-actions {
        width: auto;
        height: 100%;
        -webkit-app-region: none;

        ul {
            display: flex;
            align-items: center;
            flex-direction: row;

            width: auto;
            height: 100%;

            margin: 0;
            $d_action_btn_offset: 4px;
            padding: 0;
            padding-left: 8px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                width: auto;
                height: 100%;

                margin: 0;
                margin-right: $d_action_btn_offset;
                padding: 0;

                list-style: none;
                background-color: transparent;

                button {
                    $d_square: 27px; 
                    width: $d_square;
                    height: $d_square;

                    margin: 0;
                    padding: 0;

                    border: none;
                    outline: none;
                    user-select: none;

                    transition: all 250ms;
                    background-color: transparent;

                    svg {
                        width: 100%;
                        height: 100%;

                        margin: 0;
                        padding: 0;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    $svg_transition_time: all 250ms;
                    &#close-app svg {
                        path#outlineTriangle {
                            fill: $d_color_palette_closeApp;
                        }
                        path#innerTriangle {
                            fill: transparent;
                            transition: $svg_transition_time;
                        }

                        &:hover path#innerTriangle {
                            fill: $d_color_palette_closeApp;
                        }
                    }

                    &#maximize-app svg {
                        path#outlineSquare {
                            fill: $d_color_palette_maximizeApp;
                        }
                        path#innerSquare {
                            fill: transparent;
                            transition: $svg_transition_time;
                        }

                        &:hover path#innerSquare {
                            fill: $d_color_palette_maximizeApp;
                        }
                    }

                    &#minimize-app svg {
                        path#outlineCircle {
                            fill: $d_color_palette_minimizeApp;
                        }
                        path#innerCircle {
                            fill: transparent;
                            transition: $svg_transition_time;
                        }

                        &:hover path#innerCircle {
                            fill: $d_color_palette_minimizeApp;
                        }
                    }

                    &.deactivated {
                        svg {
                            path.inner {fill: none !important;}
                            path.outer {fill: $d_color_palette_p !important;}
                        }
                        &:hover {cursor: default;}
                    }

                    &.edged {
                        border-radius: 0;
                        background-color: transparent;
                    }
                }

                &:last-child {margin-right: 0;}

                &#add-window {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    $d_square: $d_header_height;
                    width: $d_square;
                    height: $d_square;

                    transition: all 250ms;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: 100%;

                        svg {
                            width: 15px;
                            height: 15px;

                            path {fill: $d_color_palette_three;}
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $d_color_palette_one;
                    }
                }
            }
        }
    }
}