<header id="main">
    <nav class="window-actions">
        <ul>
            <li><button id="close-app" title="Close application" (click)="taskBarActions('closeWindow')" [inlineSVG]="'/img/svg/triangle.svg'"></button>
            </li><li><button id="maximize-app" title="Toggle maximize application" (click)="taskBarActions('maximize')" [inlineSVG]="'/img/svg/square.svg'"></button>
            </li><li><button id="minimize-app" title="Minimize application" (click)="taskBarActions('minimize')" [inlineSVG]="'/img/svg/circle.svg'"></button>
            </li>
        </ul>
    </nav>
</header>