<div class="document-editor-panel">
    <div class="text-editor">
        <div class="header">
            <h2>Text panel</h2>
            <div class="panel-icon"></div>
        </div>
        <div class="content">
            <ul class="option-list">
                <li><span class="option"><input id="color-code" placeholder="Color code here..." maxlength="7" value="#000000"><span id="color-icon"></span></span><span class="head-icon"></span>
                </li><li><span class="option"><input id="font-family" placeholder="Font goes here..." value="Roboto Medium"></span><span class="head-icon"></span>
                </li><li><span class="option"><input id="font-size" placeholder="Size in numbers..." value="16"></span><span class="head-icon"></span>
                </li>
            </ul>
        </div>
    </div>
</div>