@import '../app.component.scss';

div.document-editor-panel {
    position: absolute;
    top: 0;
    left: 0;

    $d_panel_width: 350px;
    $d_panel_bar_width: 55px;

    width: $d_panel_width;
    height: 100%;

    margin: 0;
    padding: 0;

    pointer-events: all;
    $d_panel_offset: $d_panel_width - $d_panel_bar_width;
    transform: translateX(-$d_panel_offset);
    transition: all 450ms;
    background-color: $d_color_palette_six;

    div.text-editor {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        margin: 0;
        padding: 0;

        overflow: hidden;
        transition: all 300ms;

        div.header {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: $d_panel_bar_width;

            margin: 0;
            padding: 0;

            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: $d_panel_bar_width;
                flex-grow: 1;

                margin: 0;
                padding: 0;

                text-align: center;
            }

            div.panel-icon {
                display: inline-table;
                width: $d_panel_bar_width;
                height: $d_panel_bar_width;
            }
        }

        div.content {
            width: 100%;
            height: auto;

            margin: 0;
            padding: 0;

            ul.option-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;

                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: auto;

                    margin: 0;
                    padding: 0;

                    list-style: none;

                    span.head-icon {
                        display: inline-table;
                        width: $d_panel_bar_width;
                        height: $d_panel_bar_width;
                    }

                    span.option {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: $d_panel_bar_width;
                        flex-grow: 1;

                        margin: 0;
                        padding: 9px 0;

                        input {
                            width: 210px;
                            height: 100%;

                            text-align: center;

                            border: none;
                            border-radius: 100px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        transform: translateX(0px);
    }
}