// Color variables
$d_color_palette_eight: #05030f;
$d_color_palette_six: #090620;
$d_color_palette_five: #080629;
$d_color_palette_one: #110d33;
$d_color_palette_four: #140e36;
$d_color_palette_two: #151242;
$d_color_palette_seven: #1d1b3d;
$d_color_palette_nine: #3db8ff;
$d_color_palette_three: #3df2ff;
$d_color_palette_ten: #56e4fd;

$d_color_palette_p: #b3b3b3;

// Size variables
$d_header_height: 36px;

// Fonts
@font-face { font-family: Roboto Medium; src: url('../fonts/Roboto/Roboto-Medium.ttf'); font-display: swap; }

// Mixins
@mixin d_flexEl($dir: column, $margin: 0px, $padding: 0px, $overflow: hidden) {
    display: flex;
    flex-direction: $dir;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    margin: $margin;
    padding: $padding;

    overflow: $overflow;
}

// Default css settings
* {
    position: relative;
    box-sizing: border-box;
}

.deactivated {
    background-color: lightgrey !important;
    &:hover {cursor: default !important;}
}