// Color variables
$d_color_palette_eight: #0c030f;
$d_color_palette_six: #180620;
$d_color_palette_five: #1e0629;
$d_color_palette_one: #260d33;
$d_color_palette_four: #290e36;
$d_color_palette_two: #321242;
$d_color_palette_seven: #321b3d;
$d_color_palette_three: #ff3da7;

// Size variables
$d_header_height: 36px;

// Fonts
@font-face { font-family: Roboto Medium; src: url('../fonts/Roboto/Roboto-Medium.ttf'); font-display: swap; }

// Mixins
@mixin d_flexEl($dir: column, $margin: 0px, $padding: 0px, $overflow: hidden) {
    display: flex;
    flex-direction: $dir;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    margin: $margin;
    padding: $padding;

    overflow: $overflow;
}

// Default css settings
* {
    position: relative;
    box-sizing: border-box;
}

.deactivated {
    background-color: lightgrey !important;
    &:hover {cursor: default !important;}
}