<section id="main-content">
    <app-header></app-header>
    <app-tool-bar></app-tool-bar>
    <div id="document-viewer">
        <div class="document-viewer-scroll">
            <div id="document-container">
                <p class="document-page" contenteditable="true"></p>
                <p class="document-page" contenteditable="true"></p>
                <p class="document-page" contenteditable="true"></p>
            </div>
        </div>
        <div class="document-editor-panel">
            <ul class="text-editor">
                <li id="color-tool">
                    <div id="color-tool-container" class="svg-wrapper" (click)="openToolWindow('color-tool')"></div>
                    <div class="tool-window">
                        <input id="color-code" placeholder="#000000" value="#000000" maxlength="7">
                        <div id="color-icon"></div>
                    </div>
                </li><li id="font-change-tool">
                    <div id="font-change-tool-container" class="svg-wrapper" (click)="openToolWindow('font-change-tool')"></div>
                    <div class="tool-window">
                        <input id="font-change-value" placeholder="Font family..." value="Roboto Medium">
                    </div>
                </li><li id="font-size-tool">
                    <div id="font-size-tool-container" class="svg-wrapper" (click)="openToolWindow('font-size-tool')"></div>
                    <div class="tool-window">
                        <input id="font-size-value" placeholder="Font size in px..." value="16">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>