@import '../app.component.scss';

html, body, section#main-content {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

section#main-content {
    display: flex;
    flex-direction: column;

    div#document-viewer {
        @include d_flexEl();

        div.document-view-module {
            width: 100%;
            height: 100%;
            flex-grow: 1;

            margin: 0;
            padding: 0;
        }
    }
}