<section id="main-content">
    <app-header></app-header>
    <div id="document-modules">
        <div id="document-viewer">
            <div class="tool-bar-container">
                <ul class="tool-bar">
                    <li><button>File</button>
                    </li><li><button>Edit</button>
                    </li><li><button>View</button>
                    </li>
                </ul>

                <div id="sidebar-opener">
                    <button title="Open editor"><svg id="opener-svg" aria-hidden="true" focusable="false" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></button>
                </div>
            </div>

            <div class="document-container">
                <div class="document-page"><textarea></textarea></div>
                <div class="document-page"><textarea></textarea></div>
                <div class="document-page"><textarea></textarea></div>
            </div>
        </div>

        <div id="sidebar">
            <div class="sidebar-puffer">
                <div class="sidebar-title">
                    <h2>Editor</h2>
                </div>

                <div class="sidebar-text-editor category">
                    <div class="general-settings subcat">
                        <div class="change-text-color">
                            <div id="color-icon"></div>
                            <input id="color-code" value="#000000" maxlength="7">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>