@import '../app.component.scss';

html, body, section#main-content {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

section#main-content {
    display: flex;
    flex-direction: column;

    div#document-viewer {
        @include d_flexEl();
        flex-grow: 1;

        margin: 0;
        padding: 0;

        div.document-viewer-scroll {
            @include d_flexEl(none);
            overflow: auto;
            background-color: $d_color_palette_two;
        
            div#document-container {
                @include d_flexEl(column, 0, 75px 55px, visible);
                align-items: center;
                height: fit-content;
        
                p.document-page {
                    width: 210mm;
                    height: 297mm;

                    margin: 0;
                    margin-bottom: 25px;
                    padding: 25px 55px;
    
                    font-family: 'Roboto Medium', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    color: black;
                    text-align: left;

                    white-space: pre-wrap;
    
                    border: none;
                    outline: none;
                    resize: none;
                    overflow: hidden;
                    background-color: white;
                    box-shadow: 0 0 56px 0 rgba(0, 0, 0, .05);

                    &:last-child {margin-bottom: 0;}
                }
            }
        }

        div.document-editor-panel {
            position: absolute;
            bottom: 0;
            left: 0;
        
            display: flex;
            justify-content: center;
            align-items: flex-start;
            $d_sidebar_height: 72px;
            width: 100%;
            height: $d_sidebar_height;
        
            margin: 0;
            margin-bottom: 7px;
            padding: 9px 0;

            pointer-events: none;
        
            ul.text-editor {
                display: flex;
                flex-direction: row;
                width: auto;
                height: 100%;
        
                margin: 0;
                padding: 4px 14px;

                border-radius: 100px;
                pointer-events: all;
                background-color: $d_color_palette_six;
        
                li {
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    height: 100%;
        
                    margin: 0;
                    padding: 2px;
                    
                    transition: all 350ms;
                    list-style: none;

                    div.svg-wrapper {
                        width: auto;
                        height: 100%;
        
                        margin: 0;
                        padding: 4px 9px;

                        z-index: 10;

                        svg {
                            width: auto;
                            height: 100%;
            
                            margin: 0;
                            padding: 0;
            
                            transition: all 300ms;
                            animation-play-state: paused;
            
                            path {
                                fill: $d_color_palette_three;
                                transition: all 350ms;
                            }
            
                            @keyframes hophop {
                                20% {
                                    transform: translateY(-6px);
                                }
                                30% {
                                    transform: translateY(0px);
                                }
                                43% {
                                    transform: translateY(-4px);
                                }
                                52% {
                                    transform: translateY(0px);
                                }
                            }
                        }
                    }
        
                    div.tool-window {
                        position: absolute;
                        top: 0;
                        left: $d_sidebar_height;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        width: 0;
                        min-height: 100%;
                        height: auto;
        
                        margin: 0;
                        padding: 7px 0;
        
                        background-color: $d_color_palette_six;
                        z-index: 0;
                        transition: all 350ms;
                        overflow: hidden;
                        cursor: default;
        
                        div#color-icon {
                            display: inline-table;
                            width: 35px;
                            height: 35px;
        
                            margin: 0;
                            margin-left: 7px;
                            padding: 0;
        
                            background-color: #000000;
                            border-radius: 50%;
                            overflow: hidden;
                        }
        
                        input {
                            width: 190px;
                            height: auto;
        
                            margin: 0;
                            padding: 6px 11px;
        
                            font-family: 'Roboto Medium', sans-serif;
                            font-size: 21px;
                            font-weight: 500;
                            color: $d_color_palette_three;
                            text-align: center;
        
                            border: none;
                            border-radius: 100px;
                            outline: none;
                            background-color: $d_color_palette_one;
                        }
                    }
        
                    &:last-child {margin-right: 0;}
                    &:hover {
                        cursor: pointer;
        
                        div.svg-wrapper svg {
                            animation: hophop 1.075s infinite;
                            animation-play-state: running;
                            animation-delay: .135s;

                            path {fill: $d_color_palette_six;}
                        }

                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        $d_size: 41px;
                        width: $d_size;
                        height: $d_size;
                        border-radius: 50%;
                        background-color: $d_color_palette_three;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 0;
                        transition: all 350ms;
                    }
        
                    &.open {
                        div.svg-wrapper svg {
                            animation: none;
                            animation-play-state: paused;
                            path {fill: $d_color_palette_six;}
                        }
                        div.tool-window {width: 255px;}

                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}