<section id="main-content">
    <app-header></app-header>
    <app-tool-bar></app-tool-bar>
    <div id="document-viewer">
        <div class="document-viewer-scroll">
            <div id="document-container">
                <p class="document-page" contenteditable="true"></p>
                <p class="document-page" contenteditable="true"></p>
                <p class="document-page" contenteditable="true"></p>
            </div>
        </div>
        <app-doc-editor style="position: unset;"></app-doc-editor>
    </div>
</section>